<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center mt-4 mb-5">
          <a class="nav-link mx-4" href="/">Inicio</a>
          <a class="nav-link mx-4" href="/servicios">Servicios</a>
          <a class="nav-link mx-4" href="/reserva">Reserva</a>
          <a class="nav-link mx-4" href="/login">Login</a>
          <a class="nav-link mx-4" href="/signin">SignIn</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading mb-5">Serviteca Express</h1>
      <p class="lead mb-5">Bienvenido al portal de Serviteca Express donde encontrarás todos nuestros servicios, además
        si necesitas revisión de tu vehiculo podrás hacer la reserva gratis y de forma rápida. </p>
      <p class="lead">
        <a href="/reserva" class="btn btn-lg btn-secondary mb-5">Reserva Ahora</a>
      </p>
    </main>
    <footer class="mastfoot mb-4">
      <div class="inner">
        <p>Todos los derechos Reservados.</p>
      </div>
    </footer>
  </div>
  </body>