<form class="container text-center my-5 form-signin">
<div></div>
    <label>Mes de la reserva</label>
    <select class="custom-select mb-4 bg-info text-white">
        <option selected></option>
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>

    <label>Dia de la reserva</label>
    <select class="custom-select mb-4 bg-info text-white">
        <option selected></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
    </select>

    <label>Hora de la reserva</label>
    <input type="time" class="form-control mb-4 bg-info text-white" list="lista" min="08:00" max="18:00">
    <datalist id="lista">
        <option value="08:00">
        <option value="09:00">
        <option value="10:00">
        <option value="11:00">
        <option value="12:00">
        <option value="13:00">
        <option value="14:00">
        <option value="15:00">
        <option value="16:00">
        <option value="17:00">
        <option value="18:00">
    </datalist>
    <div class="form-check bg-info text-white">
        <h5 class="mb-4 pt-3">Marque los servicios:</h5>
        <input type="checkbox" class="mb-4"> Cambio de Aceite<br>
        <input type="checkbox" class="mb-4"> Sincronización<br>
        <input type="checkbox" class="mb-4"> Cambio de Frenos<br>
    </div>
</form>