<main role="main" class="cover container text-center mt-5">
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="mt-5 mb-4 rounded-circle" src="/public/images/aceite.jpeg" alt="" width="200" height="200">
                <h2 class="mb-4">Cambio de Aceite</h2>
                <p class="mb-4">Una de las medidas más importantes que puedes tomar para mantener el funcionamiento de
                    su vehiculo en buenas condiciones.</p>
                <p><a class="btn btn-secondary" href="/reserva" role="button">Reserva Ahora</a></p>
            </div>           
            <div class="col-lg-4">
                <img class="mb-4 rounded-circle" src="/public/images/sincronizacion.jpg" alt="" width="200" height="200">
                <h2 class="mb-4">Sincronización</h2>
                <p class="mb-4">Hacemos que coincidan en el tiempo dos o más movimientos o fenómenos, su motor tendrá un puesta a punto con todos los componentes involucrados.</p>
                <p><a class="btn btn-secondary" href="/reserva" role="button">Reserva Ahora</a></p>
            </div>
             <div class="col-lg-4">
                <img class="mt-5 mb-4 rounded-circle" src="/public/images/frenos.jpg" alt="" width="200" height="200">
                <h2 class="mb-4">Cambio de Frenos</h2>
                <p class="mb-4">Detectar las señales de alerta del sistema de frenado y actuar en consecuencia es de vital importancia para la seguridad en carretera.</p>
                <p><a class="btn btn-secondary mb-5" href="/reserva" role="button">Reserva Ahora</a></p>
            </div>
        </div>
         <a href="/" class="btn btn-lg btn-danger" type="button"> Volver</a>
    </div>
</main>