<section class="text-center container">
    <form class="form-signin">
        <img class="my-4 rounded-circle" src="/public/images/logo.jpg" alt="" width="150" height="150">
        <label for="inputEmail" class="sr-only">Correo Electrónico</label>
        <input type="email" id="inputEmail" class="form-control mb-3 mt-4" placeholder="Correo Electrónico" required=""
            autofocus="">
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control my-3" placeholder="Contraseña" required="">
        <label for="inputPassword" class="sr-only">Repetir Contraseña</label>
        <input type="password" id="inputPassword" class="form-control mb-5" placeholder="Repetir Contraseña"
            required="">       
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
        <a href="/" class="btn btn-lg btn-danger btn-block mt-3" type="button">Volver</a>      
    </form>
     <footer class="mastfoot mt-4">
        <div class="inner">
            <p>Todos los derechos Reservados.</p>
        </div>
    </footer>
</section>